.editor {
  margin-bottom: 2rem;
  font-family: 'Archer Medium';
}

.component {
  padding-bottom: 2rem;
  font-size: .875em;
}

.info {
  position: relative;
  padding: .5rem .75rem;
  font-family: 'Archer Medium';
  color: #fafafa;
  background-color: #4E8FCC;
  border-radius: 3px;
}
.info::after {
  content: '';
  position: absolute;
  top: .5em;
  left: calc(-1rem + 1px);
  border-width: 0.25rem 1rem .75rem 0;
  border-style: solid;
  border-color: transparent #4E8FCC;
  display: block;
  width: 0;
  z-index: 1;
}