.block {
  position: relative;
}

.toggle {
  position: absolute;
  right: 0;
  top: -5em;
  padding: .5em 1em;
  color: #FFF;
  font-size: .75rem;
  background-color: #43B5DB;
  cursor: pointer;
}

.info {
  position: relative;
  padding: .5rem .75rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: .75rem;
  color: #fafafa;
  background-color: #43B5DB;
}