.loading {
  position: relative;
  padding: 1rem;
  text-align: center;
  font-size: .75em;
  color: #5FC3E1;
}


.chart_pdf {
  height: 240px;
}


.chart {
  position: relative;
  padding-left: 1rem;
}
.chart_label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-40%, -120%) rotate(-90deg);
  font-size: .875rem;
  font-family: 'Archer Bold', serif;
  color: #6D6D6D;
}
.chart .c3-axis-x .tick > text {
  transform: rotate(-45deg) translate(-1.75rem, 0);
}
.chart .c3-legend-item {
  transform: translateY(-17.5rem);
}
.chart .c3-region {
  fill: none;
}
.chart .stage_during {
  fill: #b7dee8;
}
.chart .stage_during > rect {
  fill-opacity: 1 !important;
}


.stages {
  padding-top: 1rem;
  font-size: .75rem;
  color: #575757;
}
.stage {
  padding-right: .5rem;
  line-height: 1.4rem;
  text-align: right;
}
.stage_period {
  display: inline-block;
  width: 10rem;
}
.stage_label {
  display: inline-block;
}