.chart {
  position: relative;
}

/* style text */
.chart .c3-chart-texts .c3-text {
  font-size: .75rem;
  font-family: 'Archer Bold', serif;
  fill: #252525 !important;
}

/* style labels */
.chart .c3-axis-y2-label,
.chart .c3-axis-y-label {
  font-size: .75rem;
  font-family: 'Archer Bold', serif;
  fill: #6D6D6D;
}

.i2c-mc-table table {
    font-size: 0.7em;
}

.i2c-mc-table table tbody tr:first-child {
    background-color: #E7FCFF;
    border-top: 2px solid #CCCCCC;
}
.i2c-mc-table table tbody tr td, .i2c-mc-table table tbody tr th {
    text-align: center;
    padding: 2px;
    vertical-align: middle;
}
.i2c-mc-table table tbody tr td:first-child, .i2c-mc-table table tbody tr th:first-child {
    text-align: left;
}

.i2c-mc-table table tbody tr td.highlighted, .i2c-mc-table table tbody tr th.highlighted {
    background: rgba(203,2,112,0.25);
}

.i2c-mc-table table tbody tr.tr-totals {
    background: #EEE;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}