.section {
  position: relative;
  padding: 2rem;
  max-width: 840px;
  border: 1px solid #E6E6E6;
  border-top-width: 0;
  font-size: .875em;
}
.section:first-child {
  border-top-width: 1px;
}
.section_title {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-family: 'Archer Bold', serif;
  color: #6D6D6D;
}


@media print {
  .section {
    padding: 1rem;
    border: 0;
  }
}