.no_data {
  text-align: center;
  padding: 1em;
}

.content {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
  background-color: #F9F9F9;
}

.info {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 3em;
}

.date {
  padding: 1rem 0;
  font-size: .75em;
  text-align: right;
  color: #858585;
}
.date_value {
  display: inline-block;
  margin-left: 1.5rem;
}

.list {}
.list_title {
  padding: 0 1.5em;
  margin-bottom: .5em;
  line-height: 3em;
  font-size: .75em;
  border: 1px solid #E6E6E6;
  background-color: #FCFDFC;
  color: #858585;
}
.list_item {
  position: relative;
  padding: 0 1.5em;
  font-size: .75em;
  line-height: 2rem;
  border-bottom: 1px solid #E6E6E6;
  color: #555;
}

.chapters {
  margin: 2em 0;
}
.chapter {
  position: relative;
  display: block;
  text-decoration: none;
  margin-bottom: .5em;
  padding-left: 5em;
  line-height: 3.4rem;
  font-family: 'Archer Bold', serif;
  border: 1px solid #E6E6E6;
  background-color: #FCFDFC;
}
.chapter::before {
  content: '';
  position: absolute;
  left: 4rem;
  top: 0;
  bottom: 0;
  border-right: 1px solid #E6E6E6;
}
.chapter_arrow {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 1.5rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4.5px 0 4.5px 7.8px;
  border-color: transparent transparent transparent #255385;
}
.chapter_initials {
  position: absolute;
  left: 1rem;
  top: 50%;
  margin-top: -1rem;
  width: 2rem;
  line-height: 2rem;
  border-radius: 100%;
  font-family: 'Archer Medium', serif;
  font-size: .9em;
  text-align: center;
  color: #FCFDFC;
}

.objective_value {
  position: absolute;
  top: 0;
  right: 1.5em;
  bottom: 0;
  font-family: 'Avenir LT Std 65 Medium';
}

