.list {
  position: relative;
  margin-top: -1rem;
}
.list_item {
  position: relative;
  line-height: 1.4rem;
}
.list_item::before {
  content: '●';
  position: relative;
  top: -1px;
  margin-right: .5em;
  color: #D0D0D0;
}