.no_data {
  text-align: center;
  padding: 1em;
}


.header {
  position: relative;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.1em;
  font-family: 'Archer Bold', serif;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  color: #656565;
  z-index: 10;
}
.header_wrap {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}


.state {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: .75em;
  line-height: 2rem;
  margin-top: -1rem;
}
.component {
  cursor: pointer;
}
.toggle {
  position: relative;
  display: inline-block;
  padding: 2px;
  margin-left: .5em;
  margin-bottom: -6px;
  width: 3em;
  height: 1.75em;
  cursor: pointer;
  background-color: #DDDDDD;
  border-radius: 5em;
}
.toggle::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #FFFFFF;
  border-radius: 5em;
  transition: background .4s;
}
.toggle::after {
  content: '';
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  width: calc(50% - 4px);
  background-color: #dddddd;
  border-radius: 50%;
  transition: left .25s, background .4s;
}
.toggle_active {
  compose: toggle;
  background-color: #81CDE7;
}
.toggle_active::after {
  left: calc(60% - 4px);
  background-color: #81CDE7;
}


.content {
  position: absolute;
  top: 3rem;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 3em;
  overflow: hidden;
  overflow-y: auto;
  background-color: #F9F9F9;
}
.content_wrap {
  margin: 0 auto;
  width: 800px;
}

.links {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  z-index: 10;
  text-align: right;
}
.link {
  display: inline-block;
  color: #43B5DB;
  font-size: .75em;
  text-decoration: none;
}

.date {
  padding: 1rem 0;
  font-size: .75em;
  text-align: right;
  color: #858585;
}
.date_value {
  display: inline-block;
  margin-left: 1.5rem;
}

.list {}
.list_title {
  padding: 0 1.5em;
  margin-bottom: .5em;
  line-height: 3em;
  font-size: .75em;
  border: 1px solid #E6E6E6;
  background-color: #FCFDFC;
  color: #858585;
}
.list_item {
  position: relative;
  padding: 0 1.5em;
  font-size: .75em;
  line-height: 2rem;
  border-bottom: 1px solid #E6E6E6;
  color: #555;
}

.chapters {
  margin: 2em 0;
}
.chapter {
  position: relative;
  display: block;
  text-decoration: none;
  margin-bottom: .5em;
  padding-left: 5em;
  line-height: 3.4rem;
  font-family: 'Archer Bold', serif;
  border: 1px solid #E6E6E6;
  background-color: #FCFDFC;
}
.chapter::before {
  content: '';
  position: absolute;
  left: 4rem;
  top: 0;
  bottom: 0;
  border-right: 1px solid #E6E6E6;
}
.chapter_arrow {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 1.5rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4.5px 0 4.5px 7.8px;
  border-color: transparent transparent transparent #255385;
}
.chapter_initials {
  position: absolute;
  left: 1rem;
  top: 50%;
  margin-top: -1rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 100%;
  font-family: 'Archer Medium', serif;
  font-size: .9em;
  text-align: center;
  color: #FCFDFC;
}

.result_label {
  compose: list_item;
  padding: .25rem 1rem;
  font-size: .875em;
  color: #45678E;
}
.result_value {
  position: absolute;
  right: 1rem;
  bottom: .25rem;
  font-size: 1.4em;
  font-family: 'Archer Bold', serif;
}