.no_data {
  text-align: center;
  padding: 1em;
}


.header {
  position: relative;
  margin: 0 auto;
  height: 3rem;
  max-width: 800px;
  line-height: 3rem;
  font-size: 1.1em;
  font-family: 'Archer Bold', serif;
  color: #6F6F6F;
  border-bottom: 1px solid #E6E6E6;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  z-index: -1;
}


.state_toggle {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: .75em;
  line-height: 2rem;
  margin-top: -1rem;
}


.content {
  position: absolute;
  top: 3rem;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 3em;
  overflow: hidden;
  overflow-y: auto;
  background-color: #F9F9F9;
}
.content_wrap {
  margin: 0 auto;
  width: 800px;
}

.links {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  z-index: 10;
  text-align: right;
}
.link {
  display: inline-block;
  color: #5FC3E1;
  font-size: .75em;
  text-decoration: none;
}
.link::before {
  content: 'â—';
  margin: .5em;
}
.link:first-child::before {
  display: none;
}


.date {
  padding: 1rem 0;
  font-size: .75em;
  text-align: right;
  color: #858585;
}
.date_value {
  display: inline-block;
  margin-left: 1.5rem;
}

.list {}
.list_title {
  padding: 0 1.5em;
  margin-bottom: .5em;
  line-height: 3em;
  font-size: .75em;
  border: 1px solid #E6E6E6;
  background-color: #FCFDFC;
  color: #858585;
}
.list_item {
  position: relative;
  padding: 0 1.5em;
  font-size: .75em;
  line-height: 2rem;
  border-bottom: 1px solid #E6E6E6;
  color: #6F6F6F;
}
.list_item > span {
  position: relative;
  top: 2px;
}

.chapters {
  margin: 2em 0;
}
.chapter {
  position: relative;
  display: block;
  text-decoration: none;
  margin-bottom: .5em;
  padding-left: 5em;
  line-height: 3.4rem;
  font-family: 'Archer Bold', serif;
  border: 1px solid #E6E6E6;
  background-color: #FCFDFC;
}
.chapter::before {
  content: '';
  position: absolute;
  left: 4rem;
  top: 0;
  bottom: 0;
  border-right: 1px solid #E6E6E6;
}
.chapter_arrow {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 1.5rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4.5px 0 4.5px 7.8px;
  border-color: transparent transparent transparent #255385;
}
.chapter_initials {
  position: absolute;
  left: 1rem;
  top: 50%;
  margin-top: -1rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 100%;
  font-family: 'Archer Medium', serif;
  font-size: .9em;
  text-align: center;
  color: #FCFDFC;
}

.result_label {
  compose: list_item;
  padding: .25rem 1rem;
  font-size: .875em;
  color: #45678E;
}
.result_value {
  position: absolute;
  right: 1rem;
  bottom: .25rem;
  font-size: 1.4em;
  font-family: 'Archer Bold', serif;
}

.i2c_objective_blob {
    display: table;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: #0099ff;
    margin-right: 20px;
    float: left;
    font-family: 'Archer Bold', serif;
}

.i2c_objective_blob:nth-child(1) {
    background: #4E90CD;
    color: #fff;
}

.i2c_objective_blob:nth-child(2) {
    background: #EA7518;
    color: #fff;
}

.i2c_objective_blob:nth-child(3) {
    background: #914B97;
    color: #fff;
}

.i2c_objective_blob:nth-child(4) {
    background: #5FC4E1;
    color: #fff;
}

.i2c_objective_blob:last-child {
    margin-right: 0px;
}
b.i2c_objectives_list {
    text-align: center;
}

b.i2c_objective_title {
    font-size: 1.2em;
}

b.i2c_objective_value {
    font-size: 1.6em;
}

b.i2c_objective_blob_inner {
    display: table-cell;
    vertical-align: middle;
    height: 150px;
    padding: 0 20px;
    text-align: center;
}
b.i2c_objective_list_row {
    display: inline-block;
    margin: 0 auto 20px;
}
