table.tbl-insight-recommendation td {
    border: 3px solid #ffffff;
    padding: 3px 10px;
}

table.tbl-insight-recommendation tr td:first-child {
    background: rgb(63, 124, 192);
}
table.tbl-insight-recommendation tr td:last-child {
    background: rgba(63, 124, 192, 0.75);
}
