.list {
  position: relative;
  font-size: .875rem;
}
.list_item {
  position: relative;
  line-height: 2.25em;
  vertical-align: middle;
}
/* fix font line-height issue */
.list_item > span {
  position: relative;
  top: 2px;
}
