.component {
  position: relative;
}

.loading {
  position: relative;
  padding: 1rem;
  text-align: center;
  font-size: .75em;
  color: #5FC3E1;
}

.table_sales {
  padding-top: 1rem;
  font-size: .875rem;
}
.table_sales_header {
  background-color: #ECF6F9;
  font-family: 'Avenir LT Std 85 Heavy';
}
.table_sales_footer {
  font-family: 'Avenir LT Std 85 Heavy';
  background-color: #D8E481;
  border-bottom: 1px solid #A09F9C;
}
.table_sales td {
  padding-top: .25em;
  line-height: 1.5rem;
  width: 33.333333333333%;
  font-size: .75rem;
  text-align: center;
}
.table_sales_footer td {
  border-top: 0;
}