.content {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
}

.header {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.1em;
  font-family: 'Archer Bold', serif;
  color: #656565;
}
.header::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 500%;
  left: -50%;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  z-index: -1;
}

.filters {
  width: 800px;
  margin: 1em auto 3em;
}

.filters_label {
  padding: 1em 0;
  margin-bottom: 1.5em;
  font-size: .75em;
  color: #999999;
  border-bottom: 1px solid #E6E6E6;
}

.list {
  width: 800px;
  margin: 0 auto;
  overflow-y: auto;
}
.list_empty {
  text-align: center;
  padding: 1em;
}


.item {
  position: relative;
  margin: 1em 0;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 1em;
}
.item:last-child {
  border-bottom: 0;
}
.item_title {
  color: #6D6D6D;
  font-family: 'Archer Bold', serif;
}
.item_date {
  margin-top: 1em;
  font-size: .675em;
  color: #999999;
}
.item_state {
  display: inline-block;
  margin-left: 1em;
  padding: .3em .5em .2em;
  font-size: .75em;
  font-family: 'Avenir LT Std 55 Roman';
  background-color: #FFA000;
  color: #fff;
  vertical-align: bottom;
  border-radius: 2px;
}
.item_view {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em 2em;
  font-family: 'Archer Medium', serif;
  font-size: .875em;
  color: #FFFFFF;
  background-color: #43B5DB;
  text-decoration: none;
}
.item_view:hover,
.item_view:focus {
  color: #FFFFFF;
}