.component {
  position: relative;
}

.loading {
  position: relative;
  padding: 1rem;
  text-align: center;
  font-size: .75em;
  color: #5FC3E1;
}

.chart {
  position: relative;
  padding-left: .5rem;
}
.chart_label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-40%, -120%) rotate(-90deg);
  font-size: .875rem;
  font-family: 'Archer Bold', serif;
  color: #6D6D6D;
}
.chart .c3-target path {
  stroke-width: 2px;
}
.chart .c3-target-Control path {
  stroke-width: 1px;
  stroke-dasharray: 5,5;
}
.chart .c3-axis-x .tick > text {
  transform: rotate(-45deg) translate(-1.75rem, 0);
  font-size: .625rem;
}
.chart .c3-legend-item {
  transform: translateY(-18rem);
}
.chart .c3-region {
  fill: none;
}