.component {
  position: relative;
}

.toggle {
  position: absolute;
  right: 0;
  top: -4rem;
  padding: .5em 1em;
  color: #FFF;
  font-size: .875em;
  background-color: #43B5DB;
  cursor: pointer;
}

.loading {
  position: relative;
  padding: 1rem;
  text-align: center;
  font-size: .75em;
  color: #43B5DB;
}

.info {
  padding: .5rem .75rem;
  margin: 1rem 0;
  font-size: .875em;
  color: #fafafa;
  background-color: #4E8ECB;
}

.comment {
  padding: .5rem .75rem;
  margin: 1rem 0;
  font-size: .875em;
  color: #fafafa;
  background-color: #5FC2E1;
}

.chart {
  margin: 2rem 0;
  position: relative;
}
.chart_label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-40%, -150%) rotate(-90deg);
  font-size: .875rem;
  font-family: 'Archer Bold', serif;
  color: #6D6D6D;
}