.gallery {
  position: relative;
}

.gallery a {
  display: inline;
}
#react-images-container button:hover {
  background: transparent;
}

.loading {
  position: relative;
  padding: 1rem;
  text-align: center;
  font-size: .75em;
  color: #5FC3E1;
}
