.component {
  font-family: 'Avenir LT Std 45 Book', Helvetica, sans-serif;
  font-size: 16px;
  position: absolute;
  top: 3.5em;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFF;
  z-index: 100;
}

.content {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.topbar {
  padding: 1em 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  height: 100px;
}

.logo {
  width: 95px;
}

.loader {
  position: absolute;
  top: 1em;
  left: 50%;
  margin-left: -20px;
}

.links {
  position: absolute;
  top: 1em;
  right: 0;
}
.links > a {
  display: inline-block;
  font-size: .75em;
  margin-left: 1em;
  color: #999;
  text-decoration: none;
}