.component {
  font-size: 1.1em;
  font-family: 'Archer Bold', serif;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  line-height: 3rem;
  height: 3rem;
  color: #656565;
  z-index: 10;
}

.wrap {
  max-width: 800px;
  margin: 0 auto;
}