.component {
  padding: .625em;
  font-size: 1.2em;
  font-family: 'Archer Bold', serif;
  border-top: 1px solid #D1D4D3;
  border-bottom: 1px solid #D1D4D3;
  color: #454545;
}

.wrap {
  max-width: 800px;
  margin: 0 auto;
}