{% stylesheets 'bundles/evaluationdashboard/css/index.css' filter='cssrewrite' output='css/index.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
{% endstylesheets %}

<div id="application">
    <div id="application-loader"></div>
</div>

<script src="{{ asset('bundles/evaluationdashboard/js/index.js') }}"></script>