.no_data {
  text-align: center;
  padding: 1em;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FCFDFC;
  border-top: 1px solid #E6E6E6;
}

.links {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  z-index: 10;
  text-align: right;
}
.link {
  display: inline-block;
  color: #43B5DB;
  font-size: .75em;
  text-decoration: none;
}

.chapter_links {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3.5rem;
  border-right: 1px solid #E6E6E6;
}
.chapter_link {
  width: 3.5rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}
.chapter_link:active,
.chapter_link:focus {
  color: #FFF;
}
.chapter_link_active {
  compose: chapter_link;
  background-color: #FCFDFC;
  line-height: calc(3rem - 2px);
  border: 1px solid #E6E6E6;
  border-left: 0;
}
.chapter_link_active:first-child {
  line-height: 3rem;
  border-top: 0;
}
.chapter_initials {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 100%;
  font-family: 'Archer Medium', serif;
  font-size: .9em;
  text-align: center;
  color: #FCFDFC;
  text-decoration: none;
}

.sections {
  position: absolute;
  top: 0;
  left: 3.5rem;
  bottom: 0;
  width: 12rem;
  overflow: hidden;
  overflow-y: auto;
}
.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sections_title {
  compose: ellipses;
  padding: 0 .75rem;
  height: 3rem;
  line-height: 3rem;
  font-family: 'Archer Bold', serif;
  border-bottom: 1px solid #E6E6E6;
  color: inherit;
}
.sections_link {
  margin: 1rem .75rem;
  font-size: .75em;
  cursor: pointer;
  color: inherit;
}
.sections_link:hover {
  color: inherit;
}
.sections_link::before {
  content: '•';
  margin-right: .5em;
}
.sections_active {
  compose: sections_link;
  color: #444;
}
.sections_active:hover {
  color: #444;
}
.sections_content {
  position: absolute;
  top: 0;
  left: 15.5rem;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: #FFF;
}
.sections_content > *:first-child {
  margin-top: -1px;
}
