.no_data {
  text-align: center;
  padding: 1em;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FCFDFC;
  border-top: 1px solid #E6E6E6;
}


.navigation {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  z-index: 10;
  text-align: right;
}
.navigation_item {
  display: inline-block;
  color: #5FC3E1;
  font-size: .75em;
  text-decoration: none;
}


.chapters {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3.5rem;
  border-right: 1px solid #E6E6E6;
}
.chapter {
  width: 3.5rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}
.chapter:active,
.chapter:focus {
  color: #FFF;
}
.chapter_active {
  compose: chapter;
  background-color: #FCFDFC;
  line-height: calc(3rem - 2px);
  border: 1px solid #E6E6E6;
  border-left: 0;
}
.chapter_active:first-child {
  line-height: 3rem;
  border-top: 0;
}
.chapter_initials {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 100%;
  font-family: 'Archer Medium', serif;
  font-size: .9em;
  text-align: center;
  color: #FCFDFC;
  text-decoration: none;
}


.headings {
  position: absolute;
  top: 0;
  left: 3.5rem;
  bottom: 0;
  width: 12rem;
  overflow: hidden;
  overflow-y: auto;
}
.headings_title {
  padding: 0 .75rem;
  height: 3rem;
  line-height: 3rem;
  font-family: 'Archer Bold', serif;
  border-bottom: 1px solid #E6E6E6;
  color: inherit;
  /* ellipses on text overflow */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.headings_link {
  margin: 1rem .75rem;
  font-size: .75em;
  cursor: pointer;
  color: inherit;
}
.headings_link:hover {
  color: inherit;
}
.headings_link::before {
  content: '•';
  margin-right: .5em;
}
.headings_active {
  compose: headings_link;
  color: #444;
}
.headings_active:hover {
  color: #444;
}
.headings_content {
  position: absolute;
  top: 0;
  left: 15.5rem;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: #FFF;
}
.headings_content > *:first-child {
  margin-top: -1px;
}