.loader {
  width: 2em;
  height: .5em;
  line-height: 0;
  text-align: center;
}

.loader > * {
  background-color: #656565;
  margin-right: 2px;
  height: 140%;
  width: 3px;
  display: inline-block;
  animation: sk-stretchdelay .8s infinite ease-in-out;
}

.item_1 {
  animation-delay: -0.6s;
}

.item_2 {
  animation-delay: -0.5s;
}

.item_3 {
  animation-delay: -0.4s;
}

.item_4 {
  animation-delay: -0.3s;
}

.item_5 {
  animation-delay: -0.2s;
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
  }
}