.no_data {
  text-align: center;
  padding: 1em;
}
.layout {
  padding: 2rem 0;
  position: relative;
  background-color: #F9F9F9;
}


.links {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  z-index: 10;
  text-align: right;
}
.link {
  display: inline-block;
  color: #5FC3E1;
  font-size: .75em;
  text-decoration: none;
}
.link::before {
  content: 'â—';
  margin: .5em;
}
.link:first-child::before {
  display: none;
}


.actions {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
.action {
  display: inline-block;
  margin-left: 1rem;
  font-size: .875rem;
  padding: .5em 1em .35em;
  color: #FFF;
  background-color: #5FC3E1;
  cursor: pointer;
}


.pdf {
  position: relative;
  margin: 0 auto;
  width: 842px;
  box-shadow: 0px 0px 4px 0px #BDB6A0;
}

.pdf.landscape {
    width: 595px!important;
    height: 842px!important;
}

.pdf .page_break {
  position: relative;
  padding-top: 2rem !important;
}
.pdf .page_break::before {
  content: '';
  position: absolute;
  top: -.25rem;
  height: .5rem;
  left: calc(-2rem - 2px);
  width: calc(100% + 4rem + 4px);
  background-color: #F9F9F9;
  box-shadow: inset 0px 4px 6px -5px #BDB6A0;
  border-bottom: 1px solid #EDEBE7;
}

.pdf .components {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #FFFFFF;
}

.pdf.debug .components > * {
  outline: #00A4EA;
  outline-style: dashed;
  outline-width: 1px;
}
.pdf.debug .is_modified {
  background-color: #FFDC00;
}
.pdf.debug .page_break {
  background-color: #8BFF44;
}

.pdf .components > *:hover {
  outline: #3D3D3D;
  outline-style: dashed;
  outline-offset: 0;
  outline-width: 4px;
  cursor: pointer;
  z-index: 9999;
}



.pdf_preview {
  position: relative;
  margin: 0 auto;
  width: 842px;
}

.pdf_preview.portrait {
    width: 590px;
}

.pdf_preview canvas {
  box-shadow: 0px 0px 4px 0px #BDB6A0;
  margin: .5rem 0;
}


.cover {
  position: relative;
  height: 595px;
  z-index: 1;
  background-image: url(/images/pdf_splash_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.cover::before,
.cover::after {
  content: '';
  position: absolute;
  top: -.25rem;
  height: .5rem;
  left: -2px;
  right: -2px;
  background-color: #F9F9F9;
  box-shadow: inset 0px 4px 6px -5px #BDB6A0;
  border-bottom: 1px solid #EDEBE7;
}
.cover::after {
  top: auto;
  bottom: -.25rem
}
.cover_title {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 400px;
  font-family: 'Archer Bold';
  text-align: center;
  color: #FFF;
}

.cover_intro {
  compose: cover;
  background-image: url(/images/pdf_intro_bg.png);
}
.cover_intro::before {
  content: none;
}
.cover_intro_title_box {
  position: absolute;
  bottom: 145px;
  right: 1rem;
  left: 16.5rem;
  height: 8.5rem;
  color: #FFFFFF;
}
.cover_intro_title_wrap {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}
.cover_intro_title {
  font-size: 1.8rem;
  font-family: 'Archer Bold', serif;
  margin-bottom: .5rem;
}
.cover_intro_subtitle {
  font-size: 1.2rem;
  font-family: 'Archer Medium', serif;
}
.cover_intro_date {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-size: 1.2rem;
  font-family: 'Archer Medium', serif;
}

.cover_outro {
  compose: cover;
  background-image: url(/images/pdf_outro_bg.png);
}
.cover_outro::after {
  content: none;
}

.section_title {
  padding-top: 1.75rem;
  padding-bottom: 1.5rem;
  font-size: 1.1rem;
  font-family: 'Archer Bold', serif;
  color: #6D6D6D;
}


@media print {
  .actions,
  .links {
    display: none;
  }
  .layout {
    position: relative;
    padding: 0;
    background-color: #FFFFFF;
  }
  .pdf {
    position: relative;
    margin: 0;
  }
  .pdf .components {
    position: relative;
  }
  .pdf .page_break {
    page-break-before: always;
    page-break-inside: avoid;
  }
  .cover::before,
  .cover::after,
  .pdf .page_break::before {
    display: none !important;
  }
  .cover {
    border: 0;
    margin: 0;
    page-break-inside: avoid;
  }
  .cover_intro {
    page-break-inside: initial;
  }
}