.no_data {
  text-align: center;
  padding: 1em;
}
.preview {
  position: relative;
  width: 842px;
  margin: 0 auto;
  padding: 2rem 0;
}


.chapter {
  position: relative;
  margin-top: 2rem;
}
.chapter::before {
  content: '';
  position: absolute;
  top: calc(-1rem - 2px);
  left: 0;
  right: 0;
  border-top: 1px dashed #E6E6E6;
}
.chapter:first-child::before {
  display: none;
}


.section {
  position: relative;
  padding: 2rem;
  border: 1px solid #E6E6E6;
  border-top-width: 0;
  font-size: .875em;
}
.section_title {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-family: 'Archer Bold', serif;
  color: #6D6D6D;
}


.splash {
  position: relative;
  height: 595px;
  border: 1px solid #E6E6E6;
  z-index: 1;
  background-image: url(/images/pdf_splash_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.splash_title {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 400px;
  font-family: 'Archer Bold';
  text-align: center;
  color: #FFF;
}
.splash_outro {
  compose: splash;
  background-image: url(/images/pdf_outro_bg.png);
}
.splash_intro {
  compose: splash;
  background-image: url(/images/pdf_intro_bg.png);
}
.splash_intro_text {
  position: absolute;
  bottom: 145px;
  right: 1rem;
  left: 16.5rem;
  height: 8.5rem;
  color: #FFFFFF;
}
.splash_intro_title {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  font-size: 1.8rem;
  font-family: 'Archer Bold', serif;
}
.splash_intro_subtitle {
  position: relative;
  top: 35%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  font-family: 'Archer Medium', serif;
}
.splash_intro_date {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-size: 1.2rem;
  font-family: 'Archer Medium', serif;
}


@media print {
  .preview {
    padding-top: 0;
  }
  .splash {
    border: 0 !important;
  }
  .chapter {
    margin: 0;
    padding: 0;
    border: 0 !important;
  }
  .chapter::before {
    display: none;
  }
  .chapter:not(:first-child) {
    page-break-before: always;
  }
  .section {
    padding: 2rem;
    padding-bottom: 0;
    border: 0 !important;
    page-break-inside: avoid;
  }
}