.faq {
  position: relative;
}

.header {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.1em;
  font-family: 'Archer Bold', serif;
  color: #656565;
}
.header::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 500%;
  left: -50%;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  z-index: -1;
}