.component {
  position: relative;
}

.header {
  position: relative;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.1em;
  font-family: 'Archer Bold', serif;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  color: #656565;
  z-index: 10;
}
.header::after {
  content: attr(content);
  display: block;
  max-width: 800px;
  margin: 0 auto;
}