.blocks {
  position: relative;
}

.toggle {
  position: absolute;
  right: 0;
  top: -5em;
  padding: .5em 1em;
  color: #FFF;
  font-size: .875em;
  background-color: #43B5DB;
  cursor: pointer;
}

.block {
  padding: 1em;
  border: 1px solid #EAEAEA;
  background-color: #FCFDFC;
  margin-bottom: 1em;
}
.block:last-child {
  margin: 0;
}
.block_title {
  font-family: 'Avenir LT Std 65 Medium';
  color: #75757;
}
.block_content {
  margin-top: 1em;
}
.block_edit {
  compose: block_content;
  border: 1px solid #EAEAEA;
  background-color: #F9F9F9;
}

