.component {
  position: relative;
  font-size: .875rem;
}

.loading {
  position: relative;
  padding: 1rem;
  text-align: center;
  font-size: .75em;
  color: #5FC3E1;
}

.chart_pdf {
    position: relative;
    max-height: 250px;
    margin-bottom: 6px;
}

.chart_pdf .c3-chart-texts .c3-text {
  font-size: .875rem;
  font-family: 'Archer Bold', serif;
  fill: #252525 !important;
}
.chart_pdf .c3-axis-x text {
  transform: translateY(.625rem);
  font-size: .875rem;
  font-family: 'Archer Bold', serif;
  fill: #6D6D6D;
}
.chart_pdf .c3-axis-x path, .chart .c3-axis-x .tick line {
    stroke: transparent!important;
}
.chart_pdf .c3-ygrid-line line {
    stroke: #000;
}

.chart {
  position: relative;
  padding-left: 1rem;
}
.chart_label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-40%, -180%) rotate(-90deg);
  font-family: 'Archer Bold', serif;
  color: #6D6D6D;
}
.chart .c3-chart-texts .c3-text {
  font-size: .875rem;
  font-family: 'Archer Bold', serif;
  fill: #252525 !important;
}
.chart .c3-axis-x text {
  transform: translateY(.625rem);
  font-size: .875rem;
  font-family: 'Archer Bold', serif;
  fill: #6D6D6D;
}
.chart .c3-axis-x path, .chart .c3-axis-x .tick line {
    stroke: transparent!important;
}
.chart .c3-ygrid-line line {
    stroke: #000;
}

.table {
  position: relative;
  padding-left: 4rem;
}
.table td {
  padding: .25em 0;
  font-size: .875em;
  font-family: 'Avenir LT Std 95 Black Oblique';
  text-align: center;
  background-color: #E3F2FD;
}
.table_labels {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4rem;
}
.table_labels > div {
  height: 2.25rem;
  font-size: .675rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chart .region-offer-brand {
    fill: rgba(192, 206, 10, 0.7);
}

.chart .region-competitors {
    fill: rgba(125, 52, 133, 0.75);
}
.chart .c3-region > rect {
    fill-opacity: 0.5!important;
}

.chart .c3-region > text {
    fill-opacity: 1!important;
    fill: rgba(88, 88, 88, 0.7);
    stroke: rgba(162, 162, 162, 0);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Archer Bold', serif;
}

.stages {
  padding-top: 1rem;
  font-size: .75rem;
  color: #575757;
}
.stage {
  text-align: right;
  line-height: 1.4rem;
}
.stage_period {
  display: inline-block;
  width: 10rem;
}
.stage_label {
  display: inline-block;
}
