.component {
  position: relative;
}

.loading {
  position: relative;
  padding: 1rem;
  text-align: center;
  font-size: .75em;
  color: #5FC3E1;
}


.chart {
  position: relative;
  padding-left: 1rem;
}
.chart_label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-40%, -180%) rotate(-90deg);
  font-size: .875rem;
  font-family: 'Archer Bold', serif;
  color: #6D6D6D;
}
.chart .c3-chart-texts .c3-text {
  font-size: .875rem;
  font-family: 'Archer Bold', serif;
  fill: #252525 !important;
}
.chart .c3-axis-x text {
  transform: translateY(.625rem);
  font-size: .875rem;
  font-family: 'Archer Bold', serif;
  fill: #6D6D6D;
}
.chart .c3-axis-x path, .chart .c3-axis-x .tick line {
    stroke: transparent!important;
}
.chart .c3-ygrid-line line {
    stroke: #000;
}

.table {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 4rem;
}
.table td {
  padding: .5rem 0;
  font-size: .875em;
  font-family: 'Avenir LT Std 95 Black Oblique';
  text-align: center;
  background-color: #E3F2FD;
}
.table_labels {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4rem;
}
.table_labels > b {
  padding: .75em 0;
  height: 2.5rem;
  font-size: .75em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chart .region-offer-brand {
    fill: rgba(192, 206, 10, 0.7);
}

.chart .region-competitors {
    fill: rgba(125, 52, 133, 0.75);
}
.chart .c3-region > rect {
    fill-opacity: 0.5!important;
}

.chart .c3-region > text {
    fill-opacity: 1!important;
    fill: #2a2a2a;
    stroke: #3a3a3a;
    font-size: 12px;
}