.list {
  position: relative;
  margin-top: -1em;
}
.list_item {
  position: relative;
  font-size: .875em;
  line-height: 1.5rem;
  color: #333;
}
.list_item::before {
  content: '•';
  color: #757575;
  margin-right: .5em;
}
